<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑书籍</title>
</head>
<body>
        <div class="container">
        {# 向当前页面的路由发起post请求 #}
        <form action="#" method="post">
            书籍名字：<input type="text" name="booktitle" value="{{book.title}}">
            <br>
            书籍价格：<input type="number" name="bookprice" step="0.5" value="{{book.price}}">
            <br>
            出版日期：<input type="date" name="bookpub_date" value="{{book.pub_date}}"/>
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>