<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="container">
    <h1>投票信息：{{issue.title}}</h1>
    <h3>投票选项</h3>
    <ul>
        <form action="#" method="post">
            {% for i in issue.issues.all %}
            {% if forloop.counter == 1 %}
            <li><input type="radio" checked name="num" value="{{i.id}}">{{i.name}}</li>
            {% else %}
            <li><input type="radio" name="num" value="{{i.id}}">{{i.name}}</li>
            {% endif %}
            <br>
            {% endfor %}
            <input type="submit" value="投票">
        </form>
    </ul>
    <a href="{% url 'polls:index' %}">返回</a>
</div>
</body>
</html>